[Unit]
Description=on first boot set up GPU acceleration
[Service]
ExecStart=/opt/custompios/scripts/enable_gpu
ExecStop=
[Install]
WantedBy=multi-user.target
